<div class="controls">
    <div class="button-row">
        <button id="translateBtn">Translate</button>
        <button id="resetBtn">♻️ Reset</button>
    </div>
    <div class="button-row">
        <button id="downloadBtn">💾 Download</button>
        <button id="validateBtn">📸 Validate</button>
    </div>
    <div class="button-row">
        <button id="compareBtn">Compare with original</button>
        <button disabled id="autoTranslateBtn">Auto translate all</button>
    </div>
    <button class="download-all" id="downloadAllBtn">📥 Download all images</button>
</div>
