<div class="modal" id="modal">
    <div class="modal-content">
        <a class="close-link" href="#" id="closeComparison">close</a>
        <div class="comparison-container">
            <div class="comparison-item">
                <h2>Original</h2>
                <img alt="Original image" id="comparisonOriginal">
            </div>
            <div class="comparison-item">
                <h2>Translated</h2>
                <img alt="Translated image" id="comparisonTranslated">
            </div>
        </div>
    </div>
</div>
