<div class="settings">
    <div class="settings-block">
        <label for="htmlRawBox">OCR Result</label>
        <div contenteditable="true" id="htmlRawBox"></div>
    </div>
    <div class="settings-block">
        <label for="htmlUpload">Upload HTML</label>
        <input accept=".html" id="htmlUpload" multiple type="file">
    </div>
    <fieldset class="settings-block" id="colorFieldset">
        <legend>Background color</legend>
        <button id="pipetteBtn">🧪</button>
        <div id="colorSample"></div>
        <label><input id="roundedCorners" type="checkbox"> Rounded corners</label>
        <label><input id="innerPadding" type="checkbox"> Inner padding</label>
    </fieldset>
    <fieldset class="settings-block">
        <legend>Font</legend>
        <input accept=".ttf,.otf,.woff,.woff2" id="fontUpload" type="file">
        <div class="font-row">
            <button id="fontDecrease">➖ Size</button>
            <span id="fontSizeDisplay">14px</span>
            <button id="fontIncrease">➕ Size</button>
        </div>
        <label class="inline-option">
            <input id="fontSizeLock" type="checkbox">
            <span>Lock font size</span>
        </label>
    </fieldset>
    <fieldset class="settings-block">
        <legend>Paragraph spacing</legend>
        <button id="paragraphDec">➖ Spacing</button>
        <button id="paragraphInc">➕ Spacing</button>
    </fieldset>
    <fieldset class="settings-block">
        <legend>Area</legend>
        <label class="inline-option">
            <input id="persistSelection" type="checkbox">
            <span>Reuse the area on each card</span>
        </label>
        <p class="hint">Enable to keep the same translation area when auto translate cards.</p>
    </fieldset>
</div>
